.contact {
    background-color: $bg-contact;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.border-ext {
    animation: bounce-in-right 1s;
    border: 2px solid $text;
    width: 850px;
    height: 486px;
    z-index: 1;
    background-image: url("../../assets/petits_points.png");
    background-position: center 0;
    z-index: 1;
}

.border-int {
    display: flex;
    flex-direction: row;
    margin: 30px;
    border: 2px solid $text;
    height: 426px;
    z-index: 1;
    background-color: $bg-contact;
}

.contact-left {
    border-right: thick double ;
    border-width: 3px;
    width: 45%;
    margin: 20px 20px;
    .contact-header {
        display: flex;
        img {
            padding-right: 20px;
        }
        .contact-name{
            font-size: 36px;
        }
        .contact-job {
            font-size: 28px;
        }
    }
    .contact-describe {
        margin-top: 30px;
        .contact-location, .contact-mail, .contact-linkedin {
            display: flex;
            padding-top: 10px;
            .icon-location {
                align-self: center;
                padding-right: 15px;
                padding-left: 3px;
            }
            .location {
                font-size: 22px;
            }
            .icon-mail {
                align-self: center;
                padding-right: 10px;
            }
            .mail {
                font-size: 22px;
            }
            .icon-linkedin {
                align-self: center;
                padding-right: 12px;
                padding-left: 2px;
            }
            .linkedin {
                font-size: 22px;
            }
        }

    }
}

.contact-right {
    position: relative;
    width: 50%;
    .contact-timbre {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        label {
            margin: 20px 0px 10px 0px;
        }
        input {
            max-width: 200px;
            outline: none;
            border: none;
            padding: 0.5em 0.5em;
            font-size: 16px;
            background-color: $primary-2;
            border: 1px solid white;
            border-radius: 20px;
        }
        textarea {
            max-width: 370px;
            height: 130px;
            outline: none;
            border: none;
            padding: 0.75em 0.5em;
            font-size: 16px;
            background-color: $primary-2;
            border: 1px solid white;
            border-radius: 20px;
            resize: none;
        }
        button {
            padding: 0.75em 0.5em;
            background-color: $neutral-6;
            border: none;
            width: 100px;
            border-radius: 3px;
            margin: 15px 22px;
            color: $text;
            align-self: flex-end;
            font-weight: bolder;
            &:hover {
                cursor: pointer;
            }
            .arrow-right {
                padding-left: 10px;
            }
        }
    }
}

::placeholder {
    color: $neutral-7;
    font-size: 14px;
    font-family: "Poor Story";
}

@media screen and (max-width: 1023px){
    .contact {
        height: 110vh;
        .border-ext {
            margin-top: 80px;
            height: 760px;
            width: 400px;
            .border-int {
                height: 700px;
                flex-direction: column;
                .contact-left {
                    margin-bottom: 0px;
                    padding-bottom: 30px;
                    width: 90%;
                    border-right: none;
                    border-bottom: thick double;
                    .contact-header {
                        width: 100%;
                        img {
                            height: 80px;
                            width: 80px;
                            padding-right: 0px;
                        }
                        p {
                            padding-left: 20px;
                            font-size: 22px;
                            white-space: nowrap;
                        }
                    }
                    .contact-describe {
                        p {
                            font-size: 18px;
                            white-space: nowrap;
                        }
                    }
                }
                .contact-right {
                    width: 100%;
                    margin: 20px 20px;
                    .contact-form {
                        textarea {
                            max-width: 290px;
                        }
                    }
                    .contact-timbre {
                        right: 30px;
                    }
                }
            }
    }
    }
}
