.header {
    position: fixed;
    z-index: 2;
    right: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
}

.nav-item {
    padding-left: 10px;
}

.nav-item a {
    color: $text;
}

.nav-item a {
    &:hover {
        color: $secondary-2;
    }
}

.separator {
    width: 20px;
    padding-left: 10px;
}

@media screen and (max-width: 767px) {
    .nav {
        padding: 20px 10px 20px 20px;
    }
}
