.nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.nav-item {
    padding-left: 10px;
}

.nav-item a {
    color: var(--text) ;
}

.separator {
    background-image: url();
    background-size: 10px 15px;
    background-repeat: no-repeat;
}