@import "./base.css";
@import "./header.css";
@import "./home.css";

:root {
  --primary: #FF6060 ;
  --text: #FFFFFF;
  --bg-home: #005A82;
  --bg: #F7F7F7;
  --bg-footer: black;
}

.container {
  height: 937px;
  background-color: var(--bg-home);
}