$primary-1: #cdfafa;
$primary-2: #02c8c8;
$primary-3: #0397ab;
$primary-4: #005a82;
$primary-5: #0a323c;
$primary-6: #091428;
$primary-7: #0a1428;

$secondary-1: #f0e6d2;
$secondary-2: #c8aa6e;
$secondary-3: #c8aa6e;
$secondary-4: #c89b3c;
$secondary-5: #785a28;
$secondary-6: #463714;
$secondary-7: #32281e;

$neutral-1: #a09b8c;
$neutral-2: #1e2328;
$neutral-3: #585a56;
$neutral-4: #1e282d;
$neutral-5: #3c3c41;
$neutral-6: #010a13;

$text: #fff;
$nav-hover: grey;

$bg-home: $primary-5;
$bg-about: $primary-4;
$bg-skills: $primary-3;
$bg-work: $secondary-1;
$bg-contact: $primary-2;
