.work {
    min-height: 937px;
    background-color: $bg-work;
  }
  
  .work-wrapper{
    padding-top: 100px;
  }
  
  .work-wrapper ul {
    gap: 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .card-work {
    margin: 0 auto; // centre le grid avec même espacement
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
  }
  
  .work-1 {
    animation: workFadeInOne 1s;
  }
  
  .work-2 {
    animation: workFadeInTwo 1s;
  }
  
  .work-3 {
    animation: workFadeInThree 1s;
  }
  
  .work-4 {
    animation: workFadeInFour 1s;
  }
  
  .work-5 {
    animation: workFadeInFive 1s;
  }
  
  .work-6 {
    animation: workFadeInSix 1s;
  }
  
  .work-7 {
    animation: workFadeInSeven 1s;
  }
  
  .card-image {
    height: 80%;
    position: relative;
    overflow: hidden;
  }

  .hover {
    opacity: 0.8;

  }

  .card-image-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%,-50%);
    color: $primary-4;
    opacity: 1 !important;
    pointer-events: none;
  }
  
  .card-image img {
    height: 100%;
    width: 100%;
  }
  
  .card-body {
    text-align: left;
  }
  
  .card-title  {
    color: $secondary-4;
    padding: 12px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $neutral-6;
  }

@media screen and (max-width: 1023px) {
  .work-wrapper ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .work-wrapper ul {
    grid-template-columns: repeat(1, 1fr);
  }
}