a {
  text-decoration: none;
}

.works {
    background-color: $bg-work;
    height: 100vh;
    overflow-y: scroll !important;
  }
  
  .works-wrapper{
    padding: 50px 0;
  }
  
  .works-wrapper ul {
    gap: 40px;
    padding: 0;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
  
  .card-work {
    margin: 0 auto; // centre le grid avec même espacement
  }
  
  .work-1 {
    animation: workFadeInOne 1s;
  }
  
  .work-2 {
    animation: workFadeInTwo 1s;
  }
  
  .work-3 {
    animation: workFadeInThree 1s;
  }
  
  .work-4 {
    animation: workFadeInFour 1s;
  }
  
  .work-5 {
    animation: workFadeInFive 1s;
  }
  
  .work-6 {
    animation: workFadeInSix 1s;
  }
  
  .work-7 {
    animation: workFadeInSeven 1s;
  }
    
  .card-image {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
    &:hover {
      animation: shake .5s forwards;
    }
    img {
      padding: 10px;
      width: 100%;
      height: auto;
      margin: 0;
      // delete the little gap betweed the div and img
      vertical-align: middle;
    }
  }

  .card-body {
    text-align: left;
  }
  
  .card-title  {
    color: $secondary-4;
    padding: 12px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $neutral-6;
  }

@media screen and (max-width: 1023px) {
    .works-wrapper {
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
}

@media screen and (max-width: 680px) {
  .works-wrapper ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes shake{
  0% {
    transform: rotateZ(-1deg);
  } 

  100% {
    transform:  rotateZ(1deg);
  }
}

